/* css de micuenta */
:root {

    --primary-color: #9f3647;
    --bg-color: #181419;
    --secondary-color1: #ffc098;
    --secondary-color: #BB9458;
    --third-color: #db4648;
    --third-bis-color: #db4648f2;
    --bg-input-color: #4f31572c;
    --white-color: #fdf5ef;
    /* fuentes */
    --primary-font: 'Raleway';
}

.micuenta {

    .micuenta__title {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        position: relative;


        h1 {
            font-size: 4rem;
            color: var(--secondary-color);
            z-index: 1;
        }

        .micuenta__fondo {
            margin-top: 0;
            position: absolute;
            top: 0;
            width: 100%;
            background-image: url(../img/imageedit_1_3679396909.webp);
            height: 50vh;
            background-size: cover;
            filter: blur(2px);
        }

    }

    .micuenta__form {
        width: 70vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        font-family: var(--primary-font);
        background-color: #181419;
        border-radius: 2rem;
        padding: 5rem;
        margin: 5rem auto;

        h2 {
            color: var(--secondary-color);
            text-align: center;
            font-size: 2rem;
        }

        p {
            color: var(--white-color);
            text-align: center;
            margin-bottom: 50px;
        }


        .form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1.5rem);
            gap: 1rem;
            width: 80%;
            border-radius: 2rem;

            #name {
                border-radius: 0.5rem;
                border: none;
                grid-column: 1/2;
                grid-row: 1/2;
                padding: 1.2rem 1.5rem;
                color: #181419;
                font-family: var(--primary-font);
                font-size: 1.2rem;

                &:focus,
                &:active,
                &:hover {
                    outline: 2px solid var(--secondary-color);
                    box-shadow: 0 0 0.8em var(--secondary-color);
                }
            }

            .name {
                grid-column: 1/2;
                grid-row: 2/3;

                &.error {
                    color: #9f3647;
                    text-shadow: 0 0 0.8em var(--primary-color);
                    font-size: 1rem;
                    text-align: start;
                }
            }

            #password {
                width: 100%;
                border-radius: 0.5rem;
                border: none;
                padding: 1.2rem 1.5rem;
                color: #181419;
                font-family: var(--primary-font);
                font-size: 1.2rem;
                grid-column: 2/3;
                grid-row: 1/2;

                &:focus,
                &:active,
                &:hover {
                    outline: 2px solid var(--secondary-color);
                    box-shadow: 0 0 0.8em var(--secondary-color);
                }
            }

            .password {
                grid-column: 2/-1;
                grid-row: 2/3;

                &.error {
                    color: #9f3647;
                    text-shadow: 0 0 0.8em var(--primary-color);
                    font-size: 1rem;
                    text-align: start;
                }
            }

            & input[type="submit"] {
                grid-row: 3/4;
                grid-column: span 2;
                background-color: var(--primary-color);
                color: var(--white-color);
                font-family: var(--primary-font);
                width: 100%;
                height: 2.5rem;
                border-radius: 0.5rem;
                border: none;
                font-size: 1.5rem;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    background-color: #ed6161;
                }
            }

            a {
                grid-column: 1/-1;
                grid-row: 4/5;
                font-family: var(--primary-font);
                color: var(--white-color);
                font-size: 0.875rem;
                z-index: 50;
                margin-top: 1rem;

                &:hover {
                    color: var(--secondary-color);
                    text-decoration: underline;
                    text-shadow: 0 0 0.8em var(--secondary-color), 0 0 1em var(--secondary-color);
                    ;
                }
            }


        }
    }
}

/**************** RESPOSIVE ******************/
/********* CELULARES **********/
@media screen and (max-width: 426px) {
    .micuenta {
        .micuenta__title {
            position: relative;
            height: 30vh;


            h1 {
                font-size: 4rem;
                color: var(--secondary-color);
                z-index: 1;
            }

            .micuenta__fondo {
                height: 100%;
                background-size: cover;
                filter: blur(2px);
            }
        }

        .micuenta__form {

            h2 {
                font-size: 2.5rem;
            }

            .form {

                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 4rem 1rem);
                gap: 1rem;

                #name {
                    grid-column: 1/-1;
                    grid-row: 1/2;
                    height: 100%;
                }

                .name {
                    grid-column: 1/-1;
                    grid-row: 2/3;

                    &.error {
                        color: #9f3647;
                        text-shadow: 0 0 0.8em var(--primary-color);
                        font-size: 1rem;
                        text-align: start;
                    }
                }

                #password {
                    grid-row: 3/4;
                    grid-column: 1/-1;
                    height: 100%;
                }

                .password {
                    grid-column: 1/-1;
                    grid-row: 4/5;

                    &.error {
                        color: #9f3647;
                        text-shadow: 0 0 0.8em var(--primary-color);
                        font-size: 1rem;
                        text-align: start;
                    }
                }


                input[type="submit"] {
                    grid-column: 1/-1;
                    grid-row: 5/6;
                    font-size: 1.8rem;
                    width: 100%;
                    height: 4rem;
                }

                a {
                    grid-column: 1/-1;
                    grid-row: 6/7;
                    margin-top: 1rem;
                }



            }
        }
    }

}

/********* TABLETS **********/
@media (min-width: 425px) and (max-width: 768px) {}

@media (min-width: 769px) and (max-width: 1023px) {}