/* selector :root */
:root {

    --primary-color: #9f3647;
    --bg-color: #181419;
    --secondary-color: #ffc098;
    --third-color: #db4648;
    --third-bis-color: #db4648f2;
    --bg-input-color: #4f31572c;
    --white-color: #fdf5ef;
    --gray: #aba9b0;
    /* fuentes 
    * Títulos : font-weight: 600;
    * Cuerpo : font-weight: 400;
    *
    */
    --primary-font: "Raleway", sans-serif;
}

body,
html {
    font-family: var(--primary-font);
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}

/*** sección header ***/

header {
    background-color: var(--third-color);
    padding: 2vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 112px;
    height: 78px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 1vw 2vw;
}

nav ul li a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 2rem;
    padding: 10px 20px;
    transition-duration: background-color 0.2s;
}

nav ul li a:hover {
    background-color: var(--primary-color);
}

/* main sección carrusel */
#banner {
    margin: 0;
    padding: 0;
}

.banner-carrusel {
    width: 100vw;
    height: 100vh;
    margin: 0 auto 0;
    padding: 0;
    overflow: hidden;
}

.banner-carrusel ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100vw;
    animation: slide 20s infinite alternate ease-in-out;
}

.banner-carrusel li {
    width: 100vw;
    list-style: none;
    position: relative;
}

.texto {
    position: relative;
    text-align: left;
    padding: 0 50px;
    bottom: 35%;
    color: var(--white-color);
}

.texto h2 {
    font-size: 6rem;
    font-weight: 700;
}

.banner-carrusel img {
    width: 100vw;
    height: 100vh;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    45% {
        margin-left: 0;
    }

    50% {
        margin-left: -100%;
    }

    70% {
        margin-left: -100%;
    }

    75% {
        margin-left: -200%;
    }

    100% {
        margin-left: -200%;
    }
}

@media (max-width:991px) {

    body {
        padding: 0;
    }

    nav ul li a {
        font-size: 1rem;
        padding: 5px 5px;
    }

    .banner-carrusel {
        width: 100%;
        height: 100%;
    }

    .banner-carrusel img {
        width: 100vw;
        height: 50vh;
    }

    .texto h2 {
        font-size: 3rem;

    }
}

/* sección variedades */
#varietal {
    height: 100vh;
    margin: 0;
    padding: 20% auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.estilos {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.estilos-titulo {
    padding: 0;
    margin: 0;
}

.estilos h2 {
    font-size: 4rem;
    color: rgba(187, 148, 88, 1);
}

.card-estilos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-cerveza {
    width: 370px;
    height: 516px;
    background-color: rgb(241, 235, 235);
    border-radius: 10px 10px;

}

.card-cerveza img {
    width: 370px;
    height: 290px;
    border-radius: 10px 10px;
}

.card-cerveza h2 {
    font-size: 2rem;
    text-align: center;
    color: var(--primary-color);
    font-family: Raleway;
}

.card-cerveza p {
    text-align: center;
    font-size: 18px;
    font-family: Raleway;
}

/* sección footer */
#footer {
    height: 200px;
    background-color: var(--third-color);
    display: flexbox;
    align-content: center;
}

/* .footer-logo{
    background-color: blue; *
} */

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--third-color);
}

.footer-contacto,
.footer-social {
    width: 350px;
    height: 100px;
    display: flex;
    flex-direction: column;
    /*  background-color: blue; */
}

/* .redes{
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: blue;
} */
.footer-container a {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    color: var(--white-color);
    text-decoration: none;
}

a i {
    width: 20px;
}

/** 
*
*
*
*
*PAGINA TIENDA
*/

.main {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100px 50px 1fr;
    gap: 10px;
    padding: 2vh;
    margin-bottom:15vh;


    .title {
        font-size: 3rem;
        color: var(--primary-color);
        grid-column: span 2;
        grid-row: 1/2;
    }

    .dropdown {
        padding: 10px;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 0.5rem;
        z-index: 900;
        font-size: 0.9rem;
        grid-column: 2/-1;
        grid-row: 2/3;
        * {
            box-sizing: border-box;
        }

        h3 {
            margin: 0;
            color: var(--primary-color);
        }

        .select {
            color: var(--bg-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            transition: border-bottom 0.3s;
            flex-shrink: 1;
            width: 165px;    

            &:hover {
                color: #26489a;
            }

            &.select-clicked {

                .selected {
                    color: #26489a;
                }
            }

            .caret {
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 6px solid #26489a;
                transition: 0.3s;
                margin-left: 5px;
            }

            .caret-rotate {
                transform: rotate(180deg);
            }
        }

        .menu {
            list-style: none;
            padding: 0;
            text-align: start;
            background: #fff;
            box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
            border-radius: 0.5em;
            color: var(--bg-color);
            position: absolute;
            top: 3rem;
           left:90%;
            width: 180px;
            transform: translateX(-50%);
            opacity: 0;
            display: none;
            transition: 0.2s;
            z-index: 1;


            li {
                padding: 0.7rem 0.5rem;
                border-radius: 0.3rem;
                cursor: pointer;
                border-left: transparent 4px solid;

                &:hover {
                    background: #aba9b080;
                    border-left: #9f364780 4px solid;
                }

                &.active {
                    background: var(--gray);
                    border-left: var(--primary-color) 4px solid;
                }
            }

            &.menu-open {
                display: block;
                opacity: 1;
            }
        }
    }

    hr {
        width: 95vw;
        border: .5px solid var(--gray);
    }

    .tienda-container {

        grid-column: 2/-1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;

        .card-tienda {
            max-width: 18vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            width: 40vw;
            border-radius: 10px;
            background-color: #f1f1f1;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
            position: relative;
            overflow: hidden;
            cursor: pointer;

            z-index: 2;

            &:hover {
                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
                transition: transform 0.5s ease-in-out;

                img {
                    transform: scale(1.1);
                }


            }

            .card-tienda-img {
                z-index: 1;
                object-fit: cover;
                width: 100%;
                transition: transform 0.5s ease-in-out;
                border-radius: 9px 9px 0 0;
            }

            .card-tienda-titulo {
                font-size: 2.2rem;
                color: var(--primary-color);
                margin: 0;
                text-align: center;
                z-index: 5;
            }

            .detalles {
                padding: 10px;
                text-align: center;
                width: 70%;
                border-top: 1px solid var(--gray);
                border-bottom: 1px solid var(--gray);
                color: var(--gray);
                margin: 0;

            }

            .precio {
                font-size: 1.3rem;
                margin: 0;
            }

            .btn-stock {
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2px;
                margin-bottom: 10px;

                .stock {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 95%;
                    height: 8vh;
                    border: 1px solid var(--third-bis-color);
                    border-radius: 20px;
                    margin: 0;

                    .sumar {
                        border-radius: 0 20px 20px 0;
                    }

                    .restar {
                        border-radius: 20px 0 0 20px;
                    }

                    .sumar,
                    .restar {
                        color: var(--third-bis-color);
                        font-size: 1.3rem;
                        font-weight: 200;
                        border: 0;
                        height: 100%;
                        cursor: pointer;
                        padding: 0 16px;

                        &:hover {
                            background-color: var(--third-bis-color);
                            color: var(--white-color);
                        }
                    }

                    input {
                        outline: none;
                        font-size: 1.3rem;
                        text-align: center;
                        border: 0;
                        width: 70%;
                        height: 90%;

                    }

                    input::-webkit-inner-spin-button,
                    input::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

                .btn-agregar {
                    margin: 0;
                    width: 95%;
                    background-color: var(--third-color);
                    color: var(--white-color);
                    border-radius: 5px;
                    font-family: Raleway, sans-serif;
                    font-size: 1rem;
                    padding: 10px 20px;
                    cursor: pointer;
                    border: 0;

                    &:hover {
                        opacity: 0.8;
                    }
                }

            }
        }

    }

    .sidebar {
        display: flex;
        flex-direction: column;
        float: left;
        margin: 50px;

        .buscador {
            display: flex;
            align-items: center;

            input {
                padding: 4px 10px;
                font-size: 1.1rem;
                outline: none;
                width: 60%;
                height: 4vh;
                border: 1px solid var(--gray);
                border-radius: 5px;

                &:hover,
                &:focus {
                    border: 1px solid var(--primary-color);
                }
            }

            button {
                border: 0;
                background-color: transparent;
                border-radius: 50%;

                svg {
                    fill: var(--primary-color);
                }

                &:hover {
                    background-color: var(--primary-color);

                    svg {
                        fill: var(--white-color);
                    }
                }
            }

            svg {
                width: 20px;
                height: 25px;
                padding: 5px;
                cursor: pointer;
            }
        }

        .filtros {

            h3 {
                font-size: 1.5rem;
                color: var(--primary-color);
            }

            ul {
                padding: 0;
                margin: 0;

                li {
                    list-style: none;


                    input[type="checkbox"] {
                        width: 1.1rem;
                        height: 1.1rem;
                        cursor: pointer;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        outline: none;
                        vertical-align: middle;
                    }

                    input[type="checkbox"]::before {
                        content: "";
                        display: block;
                        width: 1.1rem;
                        height: 1.1rem;
                        text-align: center;
                        line-height: 1.1rem;
                        font-size: 1.1rem;
                        background-color: transparent;
                        border-radius: 4px;
                    }

                    input[type="checkbox"]:checked::before {
                        content: "\2713";
                        background-color: var(--primary-color);
                        color: var(--white-color);
                    }

                }
            }
        }

        .limpiar-filtros {

            button {
                margin-top: 20px;
                padding: 0.5rem 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                margin-bottom: 10px;
                cursor: pointer;
                border: 1px solid var(--primary-color);
                background-color: transparent;
                border-radius: 15px;
                font-size: 0.8rem;
                color: var(--primary-color);

                &:hover,
                &:focus {
                    border: 1px solid transparent;
                    background-color: var(--primary-color);
                    color: var(--white-color);
                }

                &:hover svg,
                &:focus svg {
                    fill: var(--white-color);
                }

                svg {
                    fill: var(--primary-color);
                    width: 15px;
                    height: 15px;

                }
            }


        }
    }
}