/* css de micuenta */
:root {

    --primary-color: #9f3647;
    --bg-color: #181419;
    --secondary-color: #ffc098;
    --third-color: #db4648;
    --third-bis-color: #db4648f2;
    --bg-input-color: #4f31572c;
    --white-color: #fdf5ef;
    /* fuentes */
    --primary-font: 'Raleway';
}

.micuenta {

    .micuenta__title {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        position: relative;


        h1 {
            font-size: 6rem;
            color: var(--secondary-color);
            z-index: 1;
        }

        .micuenta__fondo {
            margin-top: 0;
            position: absolute;
            top: 0;
            width: 100%;
            background-image: url(../img/imageedit_1_3679396909.webp);
            height: 50vh;
            background-size: cover;
            filter: blur(2px);
        }

    }

    .micuenta__form {
        width: 80%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        font-family: var(--primary-font);
        background-color: #181419;
        border-radius: 2rem;
        padding: 5rem;
        margin: 50px auto;

        h2 {
            color: var(--secondary-color);
            text-align: center;
            font-size: 2rem;
        }

        p {
            color: var(--white-color);
            text-align: center;
            margin-bottom: 50px;
        }


        .form {
            display: grid;
            grid-template-columns: repeat(2, 2fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 2rem;
            width: 90%;
            border-radius: 2rem;

            #name {
                border-radius: 0.5rem;
                border: none;
                grid-column: 1/2;
                padding: 1.2rem 1.5rem;
                width: 100%;
                height: 3.8rem;
                color: #181419;
                font-family: var(--primary-font);
                font-size: 1.2rem;

                &:focus,
                &:active,
                &:hover {
                    outline: 2px solid var(--secondary-color);
                    box-shadow: 0 0 0.8em var(--secondary-color);
                }
            }

            .name {
                position: relative;

                &.error {
                    color: #9f3647;
                    text-shadow: 0 0 0.8em var(--primary-color);
                    font-size: 1rem;
                    position: absolute;
                    top: 100%;
                    transform: translate(1rem, 3.7rem);
                }
            }

            .password {
                grid-column: 2/3;
                grid-row: 1/2;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                &.error {
                    color: #9f3647;
                    text-shadow: 0 0 0.8em var(--primary-color);
                    font-size: 1rem;
                    position: absolute;
                    top: 100%;
                    transform: translate(1rem, 3.7rem);
                }

                #password {
                    width: 100%;
                    border-radius: 0.5rem;
                    border: none;
                    padding: 1.2rem 1.5rem;
                    color: #181419;
                    font-family: var(--primary-font);
                    font-size: 1.2rem;

                    &:focus,
                    &:active,
                    &:hover {
                        outline: 2px solid var(--secondary-color);
                        box-shadow: 0 0 0.8em var(--secondary-color);
                    }
                }

                a {
                    font-family: var(--primary-font);
                    color: var(--white-color);
                    font-size: 1rem;
                    margin-top: 1.5rem;
                    z-index: 50;

                    &:hover {
                        color: var(--secondary-color);
                        text-decoration: underline;
                        text-shadow: 0 0 0.8em var(--secondary-color), 0 0 1em var(--secondary-color);
                        ;
                    }
                }
            }

            & input[type="submit"] {
                grid-column: span 2;
                background-color: var(--primary-color);
                color: var(--white-color);
                font-family: var(--primary-font);
                width: 50%;
                height: 70%;
                margin: 0 auto;
                border-radius: 0.5rem;
                border: none;
                font-size: 2.2rem;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    background-color: #ed6161;
                }
            }


        }
    }
}

/**************** RESPOSIVE ******************/
/********* CELULARES **********/
@media screen and (max-width: 426px) {
    .micuenta {
        .micuenta__title {
            position: relative;
            height: 30vh;


            h1 {
                font-size: 4rem;
                color: var(--secondary-color);
                z-index: 1;
            }

            .micuenta__fondo {
                height: 100%;
                background-size: cover;
                filter: blur(2px);
            }
        }

        .micuenta__form {

            h2 {
                font-size: 2.5rem;
            }

            .form {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);
                gap: 2rem;

                #name {
                    grid-column: 1/-1;
                    width: 100%;
                    grid-row: 1/2;
                }

                .password {
                    grid-column: 1/-1;
                    grid-row: 2/3;
                    width: 100%;

                }


                input[type="submit"] {
                    grid-column: 1/-1;
                    font-size: 1.8rem;
                    width: 100%;
                }




            }
        }
    }

}

/********* TABLETS **********/
@media (min-width: 425px) and (max-width: 768px) {}

@media (min-width: 769px) and (max-width: 1023px) {}