/* selector :root */
:root {
    
    --primary-color: #9f3647;
    --bg-color: #181419;
    --secondary-color: #ffc098;
    --third-color: #db4648;
    --third-bis-color: #db4648f2;
    --bg-input-color: #4f31572c;
    --white-color: #fdf5ef;
    /* fuentes */
    --primary-font: 'Raleway';
}

body, html{
    font-family: var(--primary-font);
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}

/*** sección header ***/

header{
    background-color: var(--third-color);
    padding: 2vh;
}

nav{
    display: flex;

    align-items: center;
    justify-content: space-between;
}

#logo{
    display: flex;
    align-items: center;
}
.logo{
    width: 112px;
    height: 78px;
}

nav ul{
   list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 1vw 2vw;
}
nav ul li a{
    text-decoration: none;
    color: var(--white-color);
    font-size: 2rem;
    padding: 10px 20px;
    transition-duration: background-color 0.2s;
}
nav ul li a:hover{
    background-color: var(--primary-color);
}

/* main sección carrusel */
#banner{
    margin: 0;
    padding: 0;
}
.banner-carrusel{
    width: 100vw;
    height: 100vh;
    margin: 0 auto 0;
    padding: 0;
    overflow: hidden;
}
.banner-carrusel ul{
    display: flex;
    padding: 0;
    margin: 0;
    width: 100vw;
    animation:slide 20s infinite alternate ease-in-out;
}
.banner-carrusel li{
    width: 100vw;
    list-style: none;
    position: relative;
}
.texto{
    position: relative;
    text-align: left;
    padding: 0 50px;
    bottom: 35%;
    color: var(--white-color);
}
.texto h2{
    font-size: 6rem;
    font-weight: 700;
}
.banner-carrusel img{
    width: 100vw;
    height: 100vh;
}
@keyframes slide{
     0%{margin-left: 0;}
    45%{margin-left: 0;}

    50%{margin-left: -100%;}
    70%{margin-left: -100%;}

    75%{margin-left: -200%;}
   100%{margin-left: -200%;}
}

@media (max-width:991px) {
    
    body {
        padding: 0;
    }
    nav ul li a{
        font-size: 1rem;
        padding: 5px 5px;
    }
    .banner-carrusel{
        width: 100%;
        height: 100%;
    }
    .banner-carrusel img{
        width: 100vw;
        height: 50vh;
    } 
    .texto h2{
        font-size: 3rem;
       
    } 
}

/* sección variedades */
#varietal{
    height: 100vh;
    margin: 0;
    padding: 20% auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.estilos{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
.estilos-titulo{
    padding: 0;
    margin: 0;
}
.estilos h2{
    font-size: 4rem;
    color: rgba(187, 148, 88, 1);
}

.card-estilos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-cerveza{
    width: 370px;
    height: 516px;
    background-color: rgb(241, 235, 235);
    border-radius: 10px 10px;
   
}
.card-cerveza img{
    width: 370px;
    height: 290px;
    border-radius: 10px 10px;
}
.card-cerveza h2{
    font-size: 2rem;
    text-align: center;
    color: var(--primary-color);
    font-family: Raleway;
}
.card-cerveza p{
    text-align: center;
    font-size: 18px;
    font-family: Raleway;
}



/* Html Nosotros sección banner */

/*baner dos img*/

#nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}
.container-image {
    width: 100vw;
    display: flex; 
    align-items: center;
    width: 100%;
    height: 80vh;
}

.container-image .image{
    width: 50%;
    height: 100%;
    object-fit: cover;
}

/* secciones */

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .titulo-nosotros{
    color: rgba(187, 148, 88, 1);
    font-size: 4rem;
    font-weight: 700;
}

section .nosotros-parrafo {
    width: 80%;
    font-size: 1.3rem;
    margin: 0 auto;
}

section blockquote {
    
    height: 80px;
    display: flex;
    align-items: center;
    width: 70%;
    margin: 30px auto;
    border-left: 3px solid #d3cdb3;
    padding-left: 0 30px;
}
p strong {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.premios-container {
    font-size: 1rem;
    width: 100%;
    margin: 0 auto
}

.premios-container h2{
    color: rgba(187, 148, 88, 1)
}

.premios-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap
}


.premios-container ul li {
    border-top: 4px solid #d3cdb3;
    padding: 20px 0 0;
    margin: 0 10px 30px;
    flex-grow: 1;
    width: calc(100%/3 - 20px)
}

.premios-container ul strong {
    color: #131315;
    font-size: 1.2rem
}

.premios-container ul p img {
    max-width: 90px;
    margin-right: 10px
}


.frase h3 {
    font-style: italic;
    text-align: center;
    font-family: 'Barlow Condensed';
    font-size: 35px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.05rem;
    text-align: center;

}


/* @media only screen and (max-width: 600px) */
  


/* sección footer */
#footer{
    height: 200px;
    background-color: var(--third-color);
    display: flexbox;
    align-content: center;
}
/* .footer-logo{
    
background-color: blue 
No me convence, lo dejaria con el fondo del container
Habria que ponerle margen a la izquierda para que no este tan pegado

}  */

.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--third-color);
}
.footer-contacto, .footer-social{
    width: 350px;
    height: 100px;
    display: flex;
    flex-direction: column;
   /*  background-color: blue; */
}

/* .redes{
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: blue;
} */
.footer-container a{
    font-family: Raleway, sans-serif;
    font-size: 18px;
    color: var(--white-color);
    text-decoration: none;
}
a i {
    width: 20px;
}

.footer-derechos{
    
    text-align: center;

}
