/* selector :root */
:root {
    
    --primary-color: #9f3647;
    --bg-color: #181419;
    --secondary-color: #ffc098;
    --third-color: #db4648;
    --third-bis-color: #db4648f2;
    --bg-input-color: #4f31572c;
    --white-color: #fdf5ef;
    /* fuentes */
    --primary-font: 'Raleway';
}

/* Html Nosotros sección banner */

/*baner dos img*/

#nosotros {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.container-image {

    display: flex; 
    align-items: center;
    width: 100%;
    height: 80vh;
}

.container-image .image{
    width: 50%;
    height: 100%;
    object-fit: cover;
}

/* secciones */

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .titulo-nosotros{
    color: rgba(187, 148, 88, 1);
    font-size: 4rem;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 50px;
}

section .nosotros-parrafo {
    width: 80%;
    font-size: 1.3rem;
    margin: 5px 10px;
}

section blockquote {
    
    height: 80px;
    display: flex;
    align-items: center;
    width: 40%;
    margin: 30px auto;
    border-left: 3px solid #d3cdb3;
    padding-left: 0 30px;
}
p strong {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.premios-container {
    font-size: 0.9rem;
    width: 100%;
    margin: 0 auto;
}

.premios-container h2{
    color: rgba(187, 148, 88, 1)
}

.premios-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}


.premios-container ul li {
    border-top: 4px solid #d3cdb3;
    padding: 20px 0 0;
    margin: 0 10px 30px;
    flex-grow: 1;
    width: calc(100%/3 - 20px);
}

.premios-container ul strong {
    color: #131315;
    font-size: 1.2rem;
}

.premios-container ul .imagen-medalla {
    width: 70px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 10px;
}


.frase h3 {
    font-style: italic;
    text-align: center;
    font-family: 'Barlow Condensed';
    font-size: 35px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.05rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;

}

/************** RESPONSIVE ***************/
/****** CELULAR *******/

@media screen and (max-width: 768px){


    #nosotros {
        width: 100vw;
        justify-content:space-around;
    
    }
    .container-image{
        flex-direction: column;
        
    }
    .container-image .image{
        width:100%;
        height:50%;
    
    }

    section {
        flex-direction: column;
        align-items: justify;
    }


    section .titulo-nosotros{
    
        font-size: 2.2rem;
        margin-bottom: 5px;
    
    }
    
    section .nosotros-parrafo {
        width: 50%;
        font-size: 1.5rem;
        text-align:justify;
    }
    
    
    section blockquote {

        font-style: italic;
        text-align: center;
        height: 50%;
        border-left: 3px solid #d3cdb3; 
        margin: 20px auto;
        padding-left: 0 2vw;
        
    }

    .premios-container ul {

        flex-direction: column;
        align-items: center;
    
    }

    .premios-container ul li {
        width: calc(100%/2 - 20px);
        font-size: 1.5rem;
    }
    
    .premios-container ul strong {
        font-size: 1.5rem;
    }
    
    .premios-container .imagen-medalla {
        width: 80px;
        margin-right: 10px;
    }

    .frase h3{
        font-size: 20px;
        font-weight: 200;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;

    }


}

/****** TABLET *******/

@media  (min-width: 769px) and (max-width:1024px) {
    
    #nosotros {
        width: 100vw;
        justify-content:space-around;
        
    
    }
    .container-image{
        flex-direction: column;
        
    }
    .container-image .image{
        width:100%;
        height:50%;
    
    }

    section {
        flex-direction: column;
        align-items: justify;
    }

    section .titulo-nosotros{
        font-size: 3rem;
        
    }
    
    section .nosotros-parrafo {
        width: 50%;
        font-size: 0.75rem;
        text-align:justify;
        margin: 5px 10px;


    }
    
    
    section blockquote {

        font-style: italic;
        text-align: center;
        height: 50%;
        border-left: 3px solid #d3cdb3; 
        margin: 20px auto;
        padding-left: 0 2vw;
        
    }

    .premios-container ul {
        width: 85%;
        flex-direction: row;
        align-items: flex-start;
    }

    .premios-container ul li {
        border-top: 4px solid #d3cdb3;
        padding: 20px 0 0;
        margin: 0 10px 30px;
        flex-grow: 1;
        width: 200px;
        font-size: 0.75rem;
    }
    
    .premios-container ul strong {
        font-size: 1rem;
    }
    
    .premios-container .imagen-medalla {
        width: 80px;
        margin-right: 10px;
    }

    .frase h3{
        font-size: 20px;
        font-weight: 200;
        margin-left: 10px;
        margin-right: 10px;

    }



}
