/* selector :root */
:root {

    --primary-color: #9f3647;
    --bg-color: #181419;
    --secondary-color: #ffc098;
    --secondary-color: #BB9458;
    --third-color: #db4648;
    --third-bis-color: #db4648f2;
    --bg-input-color: #4f31572c;
    --white-color: #fdf5ef;
    /* fuentes */
    --primary-font: 'Raleway';
}

body, html{
    font-family: var(--primary-font);
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: var(--primary-font);
    --primary-font: 'Raleway';
}

/*** sección header ***/

header {
    background-color: var(--third-color);
    display: flex;
    align-items: center;
    min-height: 15vh; /* altura del nav */
    max-width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

.container {
    max-width: 75rem;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    display: flex;
    align-items: center;
}
.logo{
    width: 112px;
    height: 78px;
}

nav ul{
   list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 1vw 2vw;
}
nav ul li a{
    text-decoration: none;
    color: var(--white-color);
    display: block;
    font-weight: 600;
}
nav ul li a:hover{
    background-color: var(--primary-color);
}

#menu {
    display: none;
}

.menu-icono {
    width: 1.5rem;
}

.menu label {
    cursor: pointer;
    display: none;
}


/* main sección carrusel */
#banner {
    margin: 0;
    padding: 0;
}

.banner-carrusel {
    width: 100vw;
    height: 100vh;
    margin: 0 auto 0;
    padding: 0;
    overflow: hidden;
}

.banner-carrusel ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100vw;
    animation: slide 20s infinite alternate ease-in-out;
}

.banner-carrusel li {
    width: 100vw;
    list-style: none;
    position: relative;
}

.texto {
    position: relative;
    text-align: left;
    padding: 0 50px;
    bottom: 35%;
    color: var(--white-color);
}

.texto h2 {
    font-size: 6rem;
    font-weight: 700;
}

.banner-carrusel img {
    width: 100vw;
    height: 100vh;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    45% {
        margin-left: 0;
    }

    50% {
        margin-left: -100%;
    }

    70% {
        margin-left: -100%;
    }

    75% {
        margin-left: -200%;
    }

    100% {
        margin-left: -200%;
    }
}

@media (max-width:991px) {

    body {
        padding: 0;
    }

    nav ul li a {
        font-size: 1rem;
        padding: 5px 5px;
    }

    .banner-carrusel {
        width: 100%;
        height: 100%;
    }

    .banner-carrusel img {
        width: 100vw;
        height: 50vh;
    }

    .texto h2 {
        font-size: 3rem;

    }
}

/* sección variedades */
#varietal {
    height: 100vh;
    margin: 0;
    padding: 20% auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.estilos {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.estilos-titulo {
    padding: 0;
    margin: 0;
}

.estilos h2 {
    font-size: 4rem;
    color: rgba(187, 148, 88, 1);
}

.card-estilos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-cerveza {
    width: 370px;
    height: 516px;
    background-color: rgb(241, 235, 235);
    border-radius: 10px 10px;

}

.card-cerveza img {
    width: 370px;
    height: 290px;
    border-radius: 10px 10px;
}

.card-cerveza h2 {
    font-size: 2rem;
    text-align: center;
    color: var(--primary-color);
    font-family: Raleway;
}

.card-cerveza p {
    text-align: center;
    font-size: 18px;
    font-family: Raleway;
}

/* sección footer */
.footer {
    width: 100%;
    background-color: var(--third-color);
    color: #fff;
    padding: 20px 0;
}

.footer .footer-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 150px;
    padding: 25px 0;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.footer .footer-container .footer-logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footer-container .footer-logo img {
    width: 200px;
}

.footer .footer-container h2 {
    color: var(--white-color);
    margin-bottom: 25px;
    font-size: 20px;
}

.footer .footer-container ul {
    list-style: none;
}

.footer .footer-container li i {
    margin-bottom: 15px;
}

.footer .footer-container .social-media a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 25px;
    color: var(--white-color);
    margin-right: 10px;
    background-color: #e36346;
    text-align: center;
    transition: all 300ms ease;
}

.footer .footer-container .social-media a:hover {
    color: #2362d7;
}

.footer .footer-derechos p {
    /*  background-color: #ed6161; */
    border-top: 1px solid #ccc;
    padding: 20px 10px;
    font-size: 15px;
    text-align: center;
}

/* Media queries para hacerlo responsive */
@media screen and (max-width: 800px) {
    .footer .footer-container {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0;
    }

    .social-media {
        margin-top: 10px;
    }
}

/**  Contacto  **/



.contacto {

    .contacto__title {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        position: relative;

        h1 {
            font-size: 4rem;
            color: var(--secondary-color);
            z-index: 1;
        }

        .contacto__fondo {
            margin-top: 0;
            position: absolute;
            top: 0;
            width: 100%;
            background-image: url(../img/imageedit_1_3679396909.webp);
            height: 50vh;
            background-size: cover;
            filter: blur(2px);
        }

    }

    .contacto__form {
        margin: 50px auto;
        width: 80%;
        height: 85vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: var(--primary-font);
        background-color: #181419;
        border-radius: 2vw;

        & h2 {
            color: var(--secondary-color);
            text-align: center;
            padding: 20px auto;
            font-size: 2rem;
        }

        & p {
            color: var(--white-color);
            text-align: center;
            padding: 20px 20px;
            margin-bottom: 50px;
        }


        .form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 30px 30px 100px 30px;
            gap: 30px;
            width: 80%;
            height: 60%;
            border-radius: 2vw;

            & #name {
                border-radius: 0.5vh;
                border: none;
                grid-column: 1/2;
                padding: 15px 10px;
                color: #181419;
                font-family: var(--primary-font);
                font-size: 1rem;

                &:focus,
                &:active,
                &:hover {
                    outline: 2px solid var(--secondary-color);
                    box-shadow: 0 0 0.8em var(--secondary-color);
                }
            }

            & #email {
                border-radius: 0.5vh;
                border: none;
                grid-column: 2/3;
                padding: 15px 10px;
                color: #181419;
                font-family: var(--primary-font);
                font-size: 1rem;


                &:focus,
                &:active,
                &:hover {
                    outline: 2px solid var(--secondary-color);
                    box-shadow: 0 0 0.8em var(--secondary-color);
                }
            }

            & #phone {
                border-radius: 0.5vh;
                border: none;
                grid-column: 1/2;
                padding: 15px 10px;
                color: #181419;
                font-family: var(--primary-font);
                font-size: 1rem;

                &:focus,
                &:active,
                &:hover {
                    outline: 2px solid var(--secondary-color);
                    box-shadow: 0 0 0.8em var(--secondary-color);
                }
            }

            .motivo {

                min-width: 15rem;
                position: relative;


                * {
                    box-sizing: border-box;
                }

                .select {
                    height: 30px;
                    background: #fff;
                    color: #181419;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: none;
                    border-radius: 0.5vh;
                    padding: 15px 10px;
                    cursor: pointer;
                    transition: background 0.3s;

                    &.select-clicked,
                    &:hover {
                        outline: 2px solid var(--secondary-color);
                        box-shadow: 0 0 0.8em var(--secondary-color);
                    }

                    .caret {
                        width: 10px;
                        height: 10px;
                        border-right:
                            2px solid #181419;
                        border-bottom:
                            2px solid #181419;
                        transform: rotate(45deg);
                        transition: 0.3s;
                    }

                    .caret-rotate {
                        transform: rotate(225deg);
                    }
                }

                .menu {
                    list-style: none;
                    padding: 0.2em 0.5em;
                    background: #fff;
                    border: 1px var(--secondary-color) solid;
                    box-shadow: 0 0.5em 1em var(--secondary-color);
                    border-radius: 0.5em;
                    color: #9fa5b5;
                    position: absolute;
                    top: 17px;
                    left: 50%;
                    width: 100%;
                    transform: translateX(-50%);
                    opacity: 0;
                    display: none;
                    transition: 0.2s;
                    z-index: 1;

                    li {
                        padding: 0.4em 0.4em;
                        border-radius: 0.5em;
                        cursor: pointer;

                        &:hover {
                            background: #2a2d3580;
                            color: var(--white-color);
                            border-left: 3px solid #9f364780;
                        }

                        &.active {
                            border-left: 3px solid #9f3647;
                            background: #23242a90;
                            color: var(--white-color);
                        }
                    }

                    &.menu-open {
                        display: block;
                        opacity: 1;
                    }
                }
            }

            & #message {
                border-radius: 0.5vh;
                border: none;
                grid-column: 1/3;
                padding: 15px 10px;
                font-family: var(--primary-font);
                font-size: 1rem;

                &:focus,
                &:active,
                &:hover {
                    outline: 2px solid var(--secondary-color);
                    box-shadow: 0 0 0.8em var(--secondary-color);
                }
            }

            & input[type="submit"] {
                grid-column: span 1;
                background-color: var(--primary-color);
                color: var(--white-color);
                font-family: var(--primary-font);
                border-radius: 0.4vw;
                border: none;
                font-weight: 600;

                &:hover {
                    background-color: #ed6161;
                }
            }

            .whatsapp {
                background-color: #07d773;
                border-radius: 0.4vw;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 7px;
                border: none;
                font-family: var(--primary-font);
                font-weight: 600;
                color: var(--white-color);
                cursor: pointer;

                svg {
                    fill: #fff;
                    width: 25px;
                    height: 25px;
                }

                &:hover {
                    background-color: #07d77370;
                }
            }
        }
    }
}

@media (max-width: 760px) {
    .contacto {
        .contacto__title {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30vh;
            position: relative;

            h1 {
                font-size: 2rem;
                color: var(--secondary-color);
                z-index: 1;
            }

            .contacto__fondo {
                margin-top: 0;
                position: absolute;
                top: 0;
                width: 100%;
                background-image: url(../img/imageedit_1_3679396909.webp);
                height: 30vh;
                background-size: cover;
                filter: blur(2px);
            }
        }

        .contacto__form {
            height: 100vh;

            & h2 {
                font-size: 1.5rem;
            }

            & p {
                color: var(--white-color);
                text-align: center;
                padding: 20px 20px;
                margin-bottom: 50px;
            }

            .form {
                display: grid;
                grid-template-columns: 45% 45%;
                grid-template-rows: 30px 30px 30px 30px 100px 30px;
                gap: 30px;
                width: 80%;
                height: 100%;
                border-radius: 2vw;

                & #name {
                    grid-column: 1/-1;
                }

                & #email {
                    grid-column: 1/-1;
                }

                & #phone {
                    grid-column: 1/-1;
                }

                .motivo {

                    grid-column: 1/-1;
                    position: relative;

                }

                & #message {
                    grid-column: 1/-1;
                }

                & input[type="submit"] {
                    grid-column: span 1;
                    font-size: 1.1rem;

                }

                .whatsapp {
                    grid-column: span 1;
                    gap: 2px;

                    svg {

                        width: 20px;
                        height: 20px;
                    }


                }
            }
        }
    }

}