<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/af1e3d563d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Mi cuenta</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/stylemiCuenta2.css" />
  </head>

  <body>
    <header class="header">
      <div class="menu container">
        <a href="/" class="logo">
          <img src="/img/Logo.svg" alt="Logo de Cerveza Dackel" />
        </a>
        <input type="checkbox" id="menu" />
        <label for="menu">
          <img src="/img/menu.png" class="menu-icono" alt="" />
        </label>
        <nav class="nav-links">
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/tienda">Tienda</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <li><a href="/micuenta">Mi cuenta</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section id="micuenta2">
      <header class="header-cliente">
        <nav class="nav-cliente">
          <ul>
            <li>
              <a id="btn-inicio" href=""
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="18px"
                  viewBox="0 -960 960 960"
                  width="18px"
                  fill="#181419"
                >
                  <path
                    d="M336-216h264v-384h-82q-27 0-47 18t-38 38q-26 29-50 45.5T336-474v258Zm-72 72v-327q-53-10-86.5-52.5T144-623q0-46 28.5-84t75.5-54q22-48 63.5-75.5T403-864q30 0 58 10t51 29q8-2 15-2.5t18-.5q65 0 110.5 45.5T701-672q0 20-4.5 38T683-600h61q30 0 51 21t21 51v240q0 30-21 51t-51 21h-72v72H264Zm-48-479q0 35 22.5 59t56.5 24q20 0 41-14t50-46q32-36 65-54t67-18h111q0-35-24.5-59.5T545-756q-13 0-26.5 3T488-742l-7-10q-14-20-33.5-30T403-792q-35 0-62.5 23.5T308-709l-1 7-30 8q-26 7-43.5 27.5T216-623Zm456 335h72v-240h-72v240Zm-336 72h264-264Z"
                  />
                </svg>
                Inicio</a
              >
            </li>
            <li>
              <a id="btn-direcciones" href=""
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  eight="18px"
                  width="18px"
                  viewBox="0 -960 960 960"
                  fill="#181419"
                >
                  <path
                    d="M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"
                  />
                </svg>
                Direcciones</a
              >
            </li>
            <li>
              <a id="btn-compras" href=""
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="18px"
                  viewBox="0 -960 960 960"
                  width="18px"
                  fill="#181419"
                >
                  <path
                    d="M263.79-96Q234-96 213-117.21t-21-51Q192-198 213.21-219t51-21Q294-240 315-218.79t21 51Q336-138 314.79-117t-51 21Zm432 0Q666-96 645-117.21t-21-51Q624-198 645.21-219t51-21Q726-240 747-218.79t21 51Q768-138 746.79-117t-51 21ZM253-696l83 192h301l82-192H253Zm-31-72h570q14 0 20.5 11t1.5 23L702.63-476.14Q694-456 676.5-444T637-432H317l-42 72h493v72H276q-43 0-63.5-36.15-20.5-36.16.5-71.85l52-90-131-306H48v-72h133l41 96Zm114 264h301-301Z"
                  />
                </svg>
                Compras</a
              >
            </li>
            <li>
              <a id="btn-mi-cuenta" href=""
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="18px"
                  viewBox="0 -960 960 960"
                  width="18px"
                  fill="#181419"
                >
                  <path
                    d="M480-480q-60 0-102-42t-42-102q0-60 42-102t102-42q60 0 102 42t42 102q0 60-42 102t-102 42ZM192-192v-96q0-23 12.5-43.5T239-366q55-32 116.29-49 61.29-17 124.5-17t124.71 17Q666-398 721-366q22 13 34.5 34t12.5 44v96H192Zm72-72h432v-24q0-5.18-3.03-9.41-3.02-4.24-7.97-6.59-46-28-98-42t-107-14q-55 0-107 14t-98 42q-5 4-8 7.72-3 3.73-3 8.28v24Zm216.21-288Q510-552 531-573.21t21-51Q552-654 530.79-675t-51-21Q450-696 429-674.79t-21 51Q408-594 429.21-573t51 21Zm-.21-72Zm0 360Z"
                  />
                </svg>
                Mi cuenta</a
              >
            </li>
            <li>
              <a id="btn-cerrar-sesion" href=""
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="18px"
                  width="18px"
                  viewBox="0 -960 960 960"
                  fill="#181419"
                >
                  <path
                    d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"
                  />
                </svg>
                Cerrar sesión</a
              >
            </li>
          </ul>
        </nav>
      </header>

      <div id="templates">
        <div class="inicio-mi-cuenta">
          <h3 class="nombre"></h3>
        </div>
      </div>

      <template id="direcciones">
        <div class="direcciones">
          <h3 class="title-direcciones">
            Las siguientes direcciones se utilizarán de forma predeterminada en
            la pagina de pago
          </h3>

          <div class="direccion-facturacion">
            <a class="a-linea">
              <h3>Dirección de facturación</h3>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="18px"
                viewBox="0 -960 960 960"
                width="18px"
                fill="#181419"
              >
                <path
                  d="M216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-30.11 21-51.56Q186-817 216-816h346l-72 72H216v528h528v-274l72-72v346q0 29.7-21.15 50.85Q773.7-144 744-144H216Zm264-336Zm-96 96v-153l354-354q11-11 24-16t26.5-5q14.4 0 27.45 5 13.05 5 23.99 15.78L891-840q11 11 16 24.18t5 26.82q0 13.66-5.02 26.87-5.02 13.2-15.98 24.13L537-384H384Zm456-405-51-51 51 51ZM456-456h51l231-231-25-26-26-25-231 231v51Zm257-257-26-25 26 25 25 26-25-26Z"
                />
              </svg>
            </a>

            <p class="p-direccion-facturacion"></p>
          </div>

          <div class="direccion-envio">
            <a class="a-linea">
              <h3>Dirección de envió</h3>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="18px"
                viewBox="0 -960 960 960"
                width="18px"
                fill="#181419"
              >
                <path
                  d="M216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-30.11 21-51.56Q186-817 216-816h346l-72 72H216v528h528v-274l72-72v346q0 29.7-21.15 50.85Q773.7-144 744-144H216Zm264-336Zm-96 96v-153l354-354q11-11 24-16t26.5-5q14.4 0 27.45 5 13.05 5 23.99 15.78L891-840q11 11 16 24.18t5 26.82q0 13.66-5.02 26.87-5.02 13.2-15.98 24.13L537-384H384Zm456-405-51-51 51 51ZM456-456h51l231-231-25-26-26-25-231 231v51Zm257-257-26-25 26 25 25 26-25-26Z"
                />
              </svg>
            </a>
            <p class="p-direccion-envio"></p>
          </div>
        </div>
      </template>

      <template id="compras-sin-datos">
        <div class="compras-sin-datos">
          <p class="p-compras">No has realizado compras recientemente</p>
          <span class="linea"></span>
          <a class="a-compras" href="/tienda">Explorar productos</a>
        </div>
      </template>

      <template id="cerrar-sesion">
        <div class="cerrar-sesion">
          <div class="cerrar-sesion-container">
            <p class="p-cerrar-sesion"></p>
            <a id="a-cerrar-sesion">¿Deseas cerrar sesión?</a>
          </div>
          <p>
            Desde el panel de tu cuenta poder ver tus
            <a class="a-pedidos"><b>pedidos recientes</b></a
            >, gestionar tus
            <a class="a-direcciones"
              ><b>direcciones de envió y facturación</b></a
            >,
            <a class="a-micueta"
              ><b> editar tu perfil y los detalles de tu cuenta.</b></a
            >
          </p>
        </div>
      </template>

      <template id="mi-cuenta">
        <form class="form-mi-cuenta" action="">
          <div class="span1">
            <label for="name">Nombre</label>
            <input type="text" name="name" required id="name" />
          </div>
          <div class="span1">
            <label for="last-name">Apellido</label>
            <input type="text" name="last-name" required id="last-name" />
          </div>
          <div class="span1">
            <label for="phone">Telefóno</label>
            <input type="tel" name="phone" required id="phone" />
          </div>
          <div class="span1">
            <label for="date">Fecha de nacimiento</label>
            <input type="date" name="date" required id="date" />
          </div>
          <div class="span2">
            <label for="email">Email</label>
            <input type="email" name="email" required id="email" />
          </div>
          <div class="span1">
            <label for="country-input">País</label>
            <input
              type="text"
              id="country-input"
              placeholder="Escribe un país"
            />
            <div id="suggestions" class="suggestions"></div>
          </div>
          <div class="span1">
            <label for="ciudad">Ciudad</label>
            <input type="text" name="ciudad" required id="ciudad" />
          </div>
          <div class="span1">
            <label for="address1">Dirección de envío</label>
            <input type="text" name="address" required id="address1" />
          </div>
          <div class="span1">
            <label for="address2">Dirección de facturación</label>
            <input type="text" name="address" required id="address2" />
          </div>
          <h3>Cambia tu contraseña</h3>
          <div class="span1">
            <label for="passw">Contraseña</label>
            <input type="password" name="passw" required id="passw" />
          </div>
          <div class="span1">
            <label for="passw2">Repite la contraseña</label>
            <input type="password" name="passw2" required id="passw2" />
          </div>
          <button type="submit" class="btn-mi-cuenta-enviar">Guardar</button>
        </form>
      </template>
    </section>
    <!-- footer -->
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-logo">
          <a href="/">
            <img
              src="/img/logo-simple-blanco.svg"
              alt="Logo de Cerveza Dackel"
            />
          </a>
        </div>
        <div class="footer-contacto">
          <h2>CONTÁCTENOS</h2>
          <ul>
            <li>
              <i class="fas fa-map-marker-alt"></i> La Plata, Buenos Aires
            </li>
            <li><i class="fas fa-phone"></i> +54 221 477 9519</li>
            <li><i class="fas fa-envelope"></i> cerveceriadackel@gmail.com</li>
          </ul>
        </div>
        <div class="social-media">
          <h2>SIGUENOS</h2>
          <a href="https://www.facebook.com/CervezaDackel/" target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a href="https://www.instagram.com/cervezadackel/" target="_blank"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
      </div>
      <hr class="footer-linea" />
      <div class="footer-derechos">
        <small
          >Derechos de autor &copy; 2024 -<b> Dackel Cerveza</b> - Todos los
          derechos Reservados.</small
        >
      </div>
    </footer>
  </body>

  <script type="module" src="/logic/micuenta2.js"></script>
</html>
