<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gracias por tu consulta</title>
    <link rel="stylesheet" href="../static/css/styleGracias.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="gracias">
      <div class="fondo-img">
        <img src="../static/img/vaso-logo.webp" alt="logo" />
      </div>
      <h1>Gracias por tu consulta</h1>
      <p>Pronto nos pondremos en contacto contigo.</p>
      <p>Te invitamos a visitar nuestra tienda</p>
      <div class="btn">
        <a href="/">inicio</a>
        <a href="./tienda.html">Tienda</a>
      </div>
    </section>
  </body>
  <script src="../static/logic/gracias.js"></script>
</html>
