<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi cuenta</title>
  </head>
  <body>
    <section>
      <header>
        <nav>
          <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Direcciones</a></li>
            <li><a href="">Compras</a></li>
            <li><a href="">Mi cuenta</a></li>
            <li><a id="cerrar-sesion-boton" href="">Cerrar sesión</a></li>
          </ul>
        </nav>
      </header>
      <div id="templates"></div>
    </section>
  </body>

  <script src="../static/logic/micuenta2.js"></script>
</html>
