<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- vinculación con estilos -->
    <link rel="stylesheet" href="../static/css/style.css" crossorigin="anonymous"/>

    <title>Cerveza Dackel</title>
    <link rel="icon" href="../perroSalchichaDackel.ico" type="image/x-icon" />

    <!-- vinculación con google fonts Raleway la fuente para el proyecto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>


<body>
    <!-- encabezado o header -->
  <header>
    <nav>
    <a href="./nosotros.html"></a>
    <!-- logo -->
    <div id="logo">
      <img src="../static/img/Logo.svg" class="logo" alt="Logo">
    </div>

    <!-- hipervínculos del menú -->
    <ul>
      <li><a href="..//index.html">Inicio</a></li>
      <li><a href="./tienda.html">Tienda</a></li>
      <li><a href="./nosotros.html">Nosotros</a></li>
      <li><a href="./contacto.html">Contacto</a></li>
      <li><a href="./micuenta.html">Mi cuenta</a></li>
    </ul>
    </nav>
  </header>
  
  <div id="content" class="site-content">
    <div class="col-full">
      <main>
      <div class="hero-slide">
        <div class="hero">
          <div class="cta-image">
            <div class="image-left">
              <img class="background-image" src="..//static/img/fabrica.webp" alt="foto de integrante de dackel en fábrica"/>
            </div>
            <div class="image-right">
              <img clase="background-image" src="../static/img/Nosotros.webp" alt="foto de integrante de dackel en plantación de lúpulo"/>
            </div>
          </div>
        </div>
      </div>
        
  <section id="nosotros" class="nosotros-historia">
    <div class="texto">
      <div class="estilos-titulo">
          <h2>NOSOTROS</h2>
      </div>
        <p>
          Es una empresa de amigos. Arrancamos en el año 2008, Pedro, Nicolás y Alejandro, en un garage y con un equipo prestado. Miramos para atrás todo el recorrido transitado y celebramos quienes somos. Hacemos los que nos gusta. 
              Desarrollamos una amplia variedad de estilos de cerveza, donde el balance entre los lúpulos y las maltas, se define en estilos de buena tomabilidad y con un equilibrio armonioso de sabores y aromas. </p>
    </div>           
  </section>

  <section id="proposito" class="proposito-valores">
    <div class="texto">
      <div class="estilos-titulo">
        <h2>PROPÓSITO</h2>
      </div>
        <p>
          Trabajamos para superarnos día a día en búsqueda de una mejor cerveza, innovando sobre los procesos productivos con el fin de mejorar la calidad con énfasis en el cuidado y respeto del medio ambiente, a través de la reutilización de desechos, el cuidado del agua y la eficiencia energética.</p>
    </div>
  </section>
                
  <section id="premios" class="premios-reconocimientos">
    <div class="texto">
      <div class="estilos-titulo">
          <h2>RECONOCIMIENTOS</h2>
      </div>  
    </div>
    <ul>
      <li>
        <p>IRISH STOUT
        <br>
          Medalla de Bronce South Beer Cup 2022 <br>
          Medalla de Oro Copa Argentina de Cervezas 2022 <br>
          Medalla de Oro Copa Argentina de Cervezas 2020 <br>
          Medalla de Bronce Copa Tres Ciudades 2019 <br>
        </p>
           
        <p>
          <img class="iris stout" 
          src="..//static/img/Premios/Bronce South Beer.png" 
          alt="" sizes="(max-width: 180px) 100vw, 180px">
        </p>

        <p> 
          <img class="iris stout"
          src="..//static/img/Premios/Oro Copa Argentina de Cervezas.png"
          alt="" sizes="(max-width: 180px) 100vw, 180px">
        </p>

        <p>
          <img class="iris stout"
            src="..//static/img/Premios/Copa tres ciudades.jpeg" 
            alt="" sizes="(max-width: 180px) 100vw, 180px">
        </p>
        </li>

        <li>
          <p>IRISH RED ALE
          <br><br>
            Medalla de Bronce South Beer Cup 2022 <br /><br />
            Medalla de Plata Copa Argentina de Cervezas 2022<br /><br />
          </p>
          <p>
            <img class="iris red ale" 
              src="..//static/img/Premios/Bronce South Beer.png" 
              alt="" sizes="(max-width: 180px) 100vw, 180px">
          </p>
          <p> 
            <img class="iris red ale"
            src="..//static/img/Premios/Plata Copa Argentina de Cervezas.png"
            alt="" sizes="(max-width: 180px) 100vw, 180px">
          </p>
                  
        </li>

        <li>
          <p>GOLDEN ALE
          <br><br>
            Medalla de Plata Copa Argentina de Cervezas 2016<br /><br />
          <p> 
            <img class="golde ale"
              src="..//static/img/Premios/Plata Copa Argentina de Cervezas.png"
              alt="" sizes="(max-width: 180px) 100vw, 180px">
          </p>
        </li>
      </ul>
  </section>

      </main>
  <br>
  <br><br>
  <p style="text-align: center;">Cuidamos nuestro entorno para poder compartir, sentir y disfrutar</p>
  <br>

    </div>
  </div>
    

            

<footer id="footer">
                <div class="footer-container">
                  <div class="footer-logo">
                    <a href="">
                      <img
                        src="../static/img/logo-simple-blanco.svg"
                        class="logo"
                        alt="Logo de Dackel"
                      />
                    </a>
                  </div>
                  <div class="footer-contacto">
                    <!-- agregamos esto:, Provincia de Buenos Aires Argentina -->
                    <a href="https://maps.app.goo.gl/73RvuPAn7HGJsdCr6"><i class="fa fa-location-dot"></i>La Plata</a> <br> 
                    <a href="teléfono"><i class="fa fa-phone"></i>+54 221 477 9519</a> <br>
                    <a href="email"><i class="fa fa-envelope"></i>cerveceriadackel@gmail.com</a> <br>
                  </div>
                  <div class="footer-social">
                    <a href="https://www.facebook.com/CervezaDackel"><i class="fa-brands fa-facebook"></i></a> <br>
                    <a href="https://www.instagram.com/cervezadackel/"><i class="fa-brands fa-instagram"></i></a> <br>
                  </div>
                </div>
                <div class="footer-derechos">
                  <small
                    >&copy2024 <b>Dackel Cerveza -</b>Todos los derechos Reservados</small
                  >
                  <!-- <button>Botón de arrepentimiento</button> -->
                </div>
</footer>
</body>
</html>