<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- vinculación con estilos -->
    <link
      rel="stylesheet"
      href="../static/css/style.css"
      crossorigin="anonymous"
    />

    <title>Cerveza Dackel</title>
    <link rel="icon" href="../perroSalchichaDackel.ico" type="image/x-icon" />

    <!-- vinculación con google fonts Raleway la fuente para el proyecto -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- encabezado o header -->
    <header>
      <nav>
        <a href="./nosotros.html"></a>
        <!-- logo -->
        <div id="logo">
          <img src="../static/img/Logo.svg" class="logo" alt="Logo" />
        </div>

        <!-- hipervínculos del menú -->
        <ul>
          <li><a href="..//index.html">Inicio</a></li>
          <li><a href="./tienda.html">Tienda</a></li>
          <li><a href="./nosotros.html">Nosotros</a></li>
          <li><a href="./contacto.html">Contacto</a></li>
          <li><a href="./micuenta.html">Mi cuenta</a></li>
        </ul>
      </nav>
    </header>

    <main id="nosotros" class="site-content">
      <div class="container-image">
        <img
          class="image"
          src="../static/img/fabrica.webp"
          alt="foto de integrante de dackel en fábrica"
        />
        <img
          class="image"
          src="../static/img/Nosotros.webp"
          alt="foto de integrante de dackel en plantación de lúpulo"
        />
      </div>

      <section id="nosotros" class="nosotros-historia">
        <h2 class="titulo-nosotros">NOSOTROS</h2>
        <p class="nosotros-parrafo">
          Es una empresa de amigos. Arrancamos en el año 2008, Pedro, Nicolás y
          Alejandro, en un garage y con un equipo prestado. Miramos para atrás
          todo el recorrido transitado y celebramos quienes somos.</p>
          <blockquote>
            <p class="nosotros-parrafo">"Hacemos lo que nos gusta."</p>
          </blockquote>
          <p class="nosotros-parrafo">Desarrollamos una amplia variedad de estilos de cerveza, donde el
          balance entre los lúpulos y las maltas, se define en estilos de buena
          tomabilidad y con un equilibrio armonioso de sabores y aromas.
        </p>
      </section>

      <section id="proposito" class="proposito-valores">
        <h2 class="titulo-nosotros">PROPÓSITO</h2>
        <p class="nosotros-parrafo">
          Trabajamos para superarnos día a día en búsqueda de una mejor cerveza,
          innovando sobre los procesos productivos con el fin de mejorar la
          calidad con énfasis en el cuidado y respeto del medio ambiente, a
          través de la reutilización de desechos, el cuidado del agua y la
          eficiencia energética.
        </p>
      </section>

      <section id="premios" class="premios-container">
        <h2 class="titulo-nosotros">RECONOCIMIENTOS</h2>

        <ul>
          <li>
            <p>
              <strong>IRISH STOUT</strong>
              <br />
              Medalla de Bronce South Beer Cup 2022 <br />
              Medalla de Oro Copa Argentina de Cervezas 2022 <br />
              Medalla de Oro Copa Argentina de Cervezas 2020 <br />
              Medalla de Bronce Copa Tres Ciudades 2019 <br />
            </p>

            <img
              class="irish stout"
              src="..//static/img/Premios/Bronce South Beer.png"
              alt=""
              
            />
            
            <img
              class="irish stout"
              src="..//static/img/Premios/Oro Copa Argentina de Cervezas.png"
              alt=""
              
            />

            <img
              class="irish stout"
              
              src="..//static/img/image.png"
              alt=""
              
            />
          </li>

          <li>
            <p>
              <strong>IRISH RED ALE</strong>
              <br />
              Medalla de Bronce South Beer Cup 2022 <br />
              Medalla de Plata Copa Argentina de Cervezas 2022<br /><br />
            </p>

            <img
              class="irish red ale"
              src="..//static/img/Premios/Bronce South Beer.png"
              alt=""
              
            />

            <img
              class="irish red ale"
              src="..//static/img/Premios/Plata Copa Argentina de Cervezas.png"
              alt=""
             
            />
          </li>

          <li>
            <p>
              <strong>GOLDEN ALE</strong>
              <br />
              Medalla de Plata Copa Argentina de Cervezas 2016<br /><br />
            </p>

            <img
              class="golden ale"
              src="..//static/img/Premios/Plata Copa Argentina de Cervezas.png"
              alt=""
              
            />
          </li>
        </ul>
      </section>

      <div class="frase">
        <hr>
        <h3>
          Cuidamos nuestro entorno para poder compartir, sentir y disfrutar
        </h3>
      </div>
    </main>

    <footer id="footer">
      <div class="footer-container">
        <div class="footer-logo">
          <a href="">
            <img
              src="../static/img/logo-simple-blanco.svg"
              class="logo"
              alt="Logo de Dackel"
            />
          </a>
        </div>
        <div class="footer-contacto">
          <!-- agregamos esto:, Provincia de Buenos Aires Argentina -->
          <a href="https://maps.app.goo.gl/73RvuPAn7HGJsdCr6"
            ><i class="fa fa-location-dot"></i>La Plata</a
          >
          <br />
          <a href="teléfono"><i class="fa fa-phone"></i>+54 221 477 9519</a>
          <br />
          <a href="email"
            ><i class="fa fa-envelope"></i>cerveceriadackel@gmail.com</a
          >
          <br />
        </div>
        <div class="footer-social">
          <a href="https://www.facebook.com/CervezaDackel"
            ><i class="fa-brands fa-facebook"></i
          ></a>
          <br />
          <a href="https://www.instagram.com/cervezadackel/"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <br />
        </div>
      </div>
      <div class="footer-derechos">
        <small
          >&copy2024 <b>Dackel Cerveza -</b>Todos los derechos Reservados</small
        >
        <!-- <button>Botón de arrepentimiento</button> -->
      </div>
    </footer>
  </body>
</html>
