<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <header>
        <nav>
            <a href="../"></a>
            <!-- logo -->
            <div id="logo">
                <img src="../static/img/Logo.svg" class="logo" alt="Logo">
            </div>

            <!-- hipervínculos del menú -->
            <ul>
                <li><a href="../">Inicio</a></li>
                <li><a href="./tienda.html">Tienda</a></li>
                <li><a href="./nosotros.html">Nosotros</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href="./micuenta.html">Micuenta</a></li>
            </ul>
        </nav>
    </header>

    <div class="navegador">
        <a href="../">Incio</a>
        <i class="fa-solid fa-chevron-right"></i>
        <a href="./tienda.html">Tienda</a>
        <i class="fa-solid fa-chevron-right"></i>
        <a id="item-producto" href="./producto.html">Cerveza</a>
    </div>
    <div id="cardDetails">
        <!-- Aquí se mostrarán los detalles de la tarjeta -->
    </div>
    <footer 
    id="footer">
    <div class="footer-container">
      <div class="footer-logo">
        <a href="">
          <img
            src="../static/img/logo-simple-blanco.svg"
            class="logo"
            alt="Logo de Dackel"
          />
        </a>
      </div>
      <div class="footer-contacto">
        <a href="ubicación"><i class="fa fa-location-dot"></i>La Plata</a>
        <a href="teléfono"><i class="fa fa-phone"></i>+54 221 477 9519</a>
        <a href="email"
          ><i class="fa fa-envelope"></i>cerveceriadackel@gmail.com</a
        >5
      </div>
      <div class="footer-social">
        <a href="#facebook"><i class="fa-brands fa-facebook"></i></a>
        <a href="#instagram"><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>
    <div class="footer-derechos">
      <small
        >&copy2023 <b>Dackel Cerveza -</b>Todos los derechos Reservados</small
      >
    </div>
  </footer>
    <script src="../static/js/producto.js"></script>
</body>
</html>