<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CaC-Proyecto-FrontEnd</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <script
      src="https://kit.fontawesome.com/af1e3d563d.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="shortcut icon"
      href="../static/img/logo-simple-dorado.svg"
      type="image/x-icon"
    />
    <!-- zona logo -->
    <link
      rel="logo"
      href="../static/img/logo-simple-dorado.svg"
      type="image/logo"
    />
    <!-- zona de script -->
    <script
      src="https://kit.fontawesome.com/fa04600604.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- zona encabezado -->
    <header class="header">
      <div class="menu container">
        <a href="..\index.html" class="logo">
          <img src="../static/img/Logo.svg" alt="Logo de Cerveza Dackel" />
        </a>
        <input type="checkbox" id="menu" />
        <label for="menu">
          <img src="./static/img/menu.png" class="menu-icono" alt="" />
        </label>
        <nav class="nav-links">
          <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../templates/tienda.html">Tienda</a></li>
            <li><a href="../templates/nosotros.html">Nosotros</a></li>
            <li><a href="../templates/contacto.html">Contacto</a></li>
            <li><a href="../templates/micuenta.html">Mi cuenta</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- zona principal de register -->
    <main>
      <!-- formulario -->
      <section id="form-wrapper">
        <form action="" method="post" novalidate id="form-register">
          <h2>Registro</h2>
          <!-- campos -->
          <div class="form-control">
            <label for="name">Nombre</label>
            <input type="text" name="name" required id="name" />
          </div>
          <div class="form-control">
            <label for="last-name">Apellido</label>
            <input type="text" name="last-name" required id="last-name" />
          </div>
          <div class="form-control">
            <label for="email">Email</label>
            <input type="email" name="email" required id="email" />
          </div>
          <div class="form-control">
            <label for="passw">Contraseña</label>
            <input type="password" name="passw" required id="passw" />
          </div>
          <div class="form-control">
            <label for="date">Fecha de nacimiento</label>
            <input type="date" name="date" required id="date" />
          </div>
          <div class="form-control">
            <select name="country" id="country" class="form-select">
              <option value="">País</option>
            </select>
          </div>
          <!-- checkbox -->
          <div class="form-terms">
            <div class="terms">
              <input type="checkbox" id="terms" />
              <label>Acepto términos y condiciones</label>
            </div>
          </div>
          <!-- botón de la acción -->
          <button type="submit">
            <i class="logo-simple-dorado"></i>&nbsp;Registrarse
          </button>
          <button type="reset">Borrar todo</button>
          <!-- zona de ayuda -->
          <div class="form-help">
            <a href="#">¿Necesitas ayuda?</a>
          </div>
        </form>
      </section>
    </main>

    <!-- Secction <footer></footer> -->
    <footer>
      <a href="./templates/register.html" download=""
        >Descarga el archivo catálogo</a
      >&nbsp;&nbsp; <a href="#">Términos y condiciones</a>&nbsp;&nbsp;
      <a href="#">Ayuda</a>&nbsp;&nbsp;
      <a href="#">Administrador</a>&nbsp;&nbsp;
    </footer>
  </body>
</html>
