<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- vinculación con estilos -->
    <link rel="stylesheet" href="../static/css/styleTienda.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>CaC-TPO</title>
    <script
      src="https://kit.fontawesome.com/af1e3d563d.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="shortcut icon"
      href="../static/img/logo-simple-dorado.svg"
      type="image/x-icon"
    />
    <!-- vinculación con google fonts Raleway la fuente para el proyecto -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- encabezado o header -->
    <header class="header">
      <div class="menu container">
        <a href="..\index.html" class="logo">
          <img src="../static/img/Logo.svg" alt="Logo de Cerveza Dackel" />
        </a>
        <input type="checkbox" id="menu" />
        <label for="menu">
          <img src="../static/img/menu.png" class="menu-icono" alt="" />
        </label>
        <nav class="nav-links">
          <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../templates/tienda.html">Tienda</a></li>
            <li><a href="../templates/nosotros.html">Nosotros</a></li>
            <li><a href="../templates/contacto.html">Contacto</a></li>
            <li><a href="../templates/micuenta.html">Mi cuenta</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="main">
      <h1 class="title" id="title-tienda">Nuestros Productos</h1>

      <div class="buscador">
        <input type="text" placeholder="Buscar..." />
        <button type="submit">
          <svg viewBox="0 0 512 512">
            <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
            />
          </svg>
        </button>
      </div>
      <div class="navegador">
        <a href="../">Inicio</a>
        <span>></span>
        <a href="./tienda.html">Tienda</a>
      </div>

      <div class="dropdown desktop">
        <h3>Ordenar por:</h3>
        <div class="select">
          <span class="selected">Menor precio</span>
          <div class="caret"></div>
        </div>

        <ul class="menu">
          <li>Nombre</li>
          <li>Menor precio</li>
          <li class="active">Mayor precio</li>
          <li>Fecha de lanzamiento</li>
        </ul>
      </div>

      <div class="filtro-mobile">
        <div class="title-d">
          <h3 class="title-dropdown">Filtrar:</h3>
          <div class="btn">
            <div class="caretD"></div>
          </div>
        </div>
        <ul class="menuD">
          <div class="dropdown mobile">
            <h3>Ordenar por:</h3>
            <div class="select">
              <span class="selected">Menor precio</span>
              <div class="caret"></div>
            </div>

            <ul class="menu mobile">
              <li>Nombre</li>
              <li>Menor precio</li>
              <li class="active">Mayor precio</li>
              <li>Fecha de lanzamiento</li>
            </ul>
          </div>
          <div class="dropdown mobile">
            <h3>Filtrar por:</h3>
            <div class="select">
              <span class="selected">Todo</span>
              <div class="caret"></div>
            </div>

            <ul class="menu mobile">
              <li>Todo</li>
              <li>Cervezas</li>
              <li>Remeras</li>
              <li class="active">Gorras</li>
              <li>Calcomanías</li>
            </ul>
          </div>
        </ul>
      </div>

      <!-- zona de filtros -->
      <aside class="sidebar" id="sidebar">
        <div class="filtros">
          <h3>Filtrar por:</h3>
          <ul class="filtros-lista">
            <li>
              <input
                type="checkbox"
                id="cerveza"
                name="cerveza"
                value="cerveza"
              />
              <label for="cerveza">Cervezas</label>
            </li>
            <li>
              <input
                type="checkbox"
                id="remeras"
                name="remeras"
                value="remeras"
              />
              <label for="remeras">Remeras</label>
            </li>
            <li>
              <input type="checkbox" id="gorras" name="gorras" value="gorras" />
              <label for="gorras">Gorras</label>
            </li>
            <li>
              <input
                type="checkbox"
                id="calcomanias"
                name="calcomanias"
                value="calcomanias"
              />
              <label for="calcomanias">Calcomanías</label>
            </li>
          </ul>
        </div>

        <div class="limpiar-filtros">
          <button type="button">
            <svg viewBox="0 0 384 512">
              <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"
              />
            </svg>
            Limpiar filtros
          </button>
        </div>
      </aside>

      <!-- zona de tienda -->
      <div class="tienda-container" id="tienda-container"></div>
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-logo">
          <a href="..\index.html">
            <img
              src="../static/img/logo-simple-blanco.svg"
              alt="Logo de Cerveza Dackel"
            />
          </a>
        </div>
        <div class="footer-contacto">
          <h2>CONTÁCTENOS</h2>
          <ul>
            <li>
              <i class="fas fa-map-marker-alt"></i> La Plata, Buenos Aires
            </li>
            <li><i class="fas fa-phone"></i> +54 221 477 9519</li>
            <li><i class="fas fa-envelope"></i> cerveceriadackel@gmail.com</li>
          </ul>
        </div>
        <div class="social-media">
          <h2>SIGUENOS</h2>
          <a href="https://www.facebook.com/CervezaDackel/" target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a href="https://www.instagram.com/cervezadackel/" target="_blank"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
      </div>
      <hr class="footer-linea" />
      <div class="footer-derechos">
        <small
          >Derechos de autor &copy; 2024 -<b> Dackel Cerveza</b> - Todos los
          derechos Reservados.</small
        >
      </div>
    </footer>
    <script type="module" src="../static/logic/tienda.js"></script>
  </body>
</html>
